<table>
    <tr>
        <th>Name</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Fiscal Code</th>
        <th>Telephone</th>
        <th>Provincia</th>
        <th>Action</th>
    </tr>
   
    <!-- pass data to variable user (that module receive with @Input() -->
    <!-- receive data from child and goto local onDeleteUser-->
    <!-- note $event angular var -->
    <tr app-user *ngFor ="let user of users" [user-data]="user" (onDeleteUser)="onDeleteUser($event)"></tr>


</table>
