<form>
  <div class="form-group">
    <label for="firstname">First name</label>
    <input ng-model="user.firstname" name="firstname" id="firstname">
  </div>
  <div class="form-group">
    <label for="lastname">LastName</label>
    <input name="lastname" [(ng-module)]="user.lastname" id="lastname">
  </div>
  <div class="form-group">
    <label for="fiscalcode">Fiscal code</label>
    <input name="fiscalcode" id="fiscalcode">
  </div>
  <div class="form-group form-footer">
    <button class="btn-save"> SAVE</button>
  </div>
</form>